.app {
  height: 100vh;
  background: rgb(214, 214, 214);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet{
  border: 2px solid black;
  background: white;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.milk{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
